<!DOCTYPE html>
<html>
<head>
    <title>Django Girls Blog</title>
</head>
<body>
    <header>
        <h1><a href="/">Django Girls Blog</a></h1>
        <time>published: 10/12/2023 : 10:58</time>
    </header>
    
    <article>
      
        <h2><a href="">My first post</a></h2>
        <p>I am the fastest man Alive, I got hit by a lightning bolt and woke up with superpowers wow.</p>
        <time>published: 10/12/2024 : 10:58</time>
    </article>

    <article>
       
        <h2><a href="">My second post</a></h2>
        <p>I am the greatest detective that ever lived, and some might know me as batman or the dark knight of gotham.</p>
        <time>published: 10/12/2025 : 10:58</time>
    </article>
</body>
</html>